@greenlight:rgba(93,184,92,1);

input {
    outline: none;
}

input[type="search"],
input[type="text"] {
    padding: 9px 16px;
    font-size:16px;
    font-family:MoskLight300;
    color:rgba(254,254,254,1);
    line-height:19px;
    border-radius:4px;
    border:1px solid rgba(137,139,170,1);
    background: transparent;
    &:focus {
        box-shadow:0px 0px 4px 1px @greenlight;
        border:1px solid rgba(137,139,170,1);
        outline: none;
    }
}

input[type="button"] {
    border-radius:4px;
    border:1px solid @greenlight;
    background: transparent;
    font-size:16px;
    font-family:MoskMedium500;
    color:@greenlight;
    line-height:19px;
    &:hover {
        background:rgba(93,184,92,0.16);
    }
    &:focus {
        background:rgba(93,184,92,0.1);
    }
}

.input::-webkit-input-placeholder {
    color:rgba(163,173,183,1);
}
.input:-moz-placeholder {
    color:rgba(163,173,183,1);
}
.input:-ms-input-placeholder {
    color:rgba(163,173,183,1);
}

/* 自定义分页样式------------------------------------------------start*/

.pagination-all {
    width: 100%;
    height: 79px;
    background-color: transparent;
    font-size: 12px;
    color: @text;
    padding: 0 20px;
    .rowsPerPage {
        float: left;
        .my-dropdown-list {
            width: 108px;
            .item-selected {
                width: 108px;
            }
            .list-block {
                width: 140px;
            }
        }
        p.itemsCount {
            display: inline-block;
            margin-left: 8px;
            font-size:16px;
            font-family:MoskLight300;
            color:rgba(20,42,63,1);
            line-height:24px;
        }
    }
    .pagination-right {
        float: right;
        line-height: 42px;
    }
}

.pagination {
    color: @greenlight;
    vertical-align: middle;
    margin: 0;
    height: 42px;
    float: left;
}

/*页码框*/
input[type="text"].pageNum {
    vertical-align: middle;
    border-radius: 4px;
    padding: 0 16px;
    width: 64px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #cbd0d3;
    background: transparent;
    color: @text;
}

.searchNum {
    cursor: pointer;
    margin-left: 8px;
    width: 56px;
    height: 42px;
    background: #2e323c;
    border-radius: 4px;
    border: 1px solid #444851;
    vertical-align: middle;
    font-size: 12px;
    color: #DAE1E9;
}

.pageCount {
    margin-left: 24px;
    height: 42px; 
    float: right;
    .totalPages {
        margin-left: 8px;
        color: rgba(161, 166, 173, 1);
    }
}

.pagination>li {
    display: inline-block; 
    height: 42px;
    vertical-align: middle;
}

.pagination>li>a {
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size:16px;
    font-family:MoskMedium500;
    color:@greenlight;
    line-height:18px;
    padding: 10px 16px;
    height: 42px;
    background-color: transparent;
    border: none;
    text-align: center;
    border: 1px solid #cbd0d3
}
.pagination>li+li>a,
.pagination>li+li>a:hover,
.pagination>li+li>a:focus{
    border-left: 0;
    border:1px solid rgba(203,208,211,1);
}

.pagination>li>a>span {
    font-size: 33px; // color: #32a1ff;
    line-height: 14px;
}

.pagination>li>a>span[aria-label='More'] {
    font-size: 16px;
    color: @greenlight;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color:rgba(255,255,255,1);
    cursor: default;
    background:@greenlight;
    border:1px solid rgba(203,208,211,1);
}

.pagination{
    >.disabled{
        >a,>a:hover{
            border:0;
            border-left:1px solid rgba(203,208,211,1);
        }
    }
}

.pagination>li>a:hover,
.pagination>li>span:hover {
    z-index: 2;
    background:rgba(246,247,249,1);
    color: rgba(161, 166, 173, 1);
    border-color:#cbd0d3;
}

.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    background:rgba(246,247,249,1);
    color: rgba(161, 166, 173, 1);
}

.pagination>li:first-child,
.pagination>li:last-child {
    a>span{
        font-size:16px;
    }
    a {
        height: 42px;
        font-size:16px;
        font-family:MoskMedium500;
        color:@greenlight;
        border:1px solid rgba(203,208,211,1);
    }
    &.disabled {
        &>a,
        &>a:hover,
        &>a:focus {
            color:rgba(203,208,211,1);
        }
    }
}


/* 自定义分页样式------------------------------------------------end*/

/* Styles for DropdownList component--------------------------------------------------------------------start*/
.my-dropdown-list {
    position: relative;
    width: 126px;
    display: inline-block;
    font-size: 16px; 
    border-radius: 4px;
    color:rgba(20,42,63,1);
    .select-img {
        position: absolute;
        right: 0;
        width: 36px;
        text-align: center;
        z-index: 6;
        color:@greenlight;
        border-left: 1px solid rgba(203,208,211,1);
        cursor: pointer;
        i{
            line-height: 42px;
        }
    }
    .item-selected {
        // width: 126px;
        height: 42px;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        border:1px solid rgba(203,208,211,1);
        padding: 10px 16px;
        font-size: 12px;
        line-height: 20px;
        color: rgba(20,42,63,1);
        &:hover,&:focus{
            box-shadow: none;
            border:1px solid rgba(203,208,211,1);
        }
    }
    .list-block {
        position: absolute;
        width: 126px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(203,208,211,1);
        border-radius: 4px;
        top: 50px;
        z-index: 8;
        ul {
            margin-bottom: 6px;
            li {
                padding: 7px 16px;
                cursor: pointer;
                font-size: 14px;
                color:rgba(20,42,63,1);
                line-height: 20px;
                border:1px solid transparent;
                &:first-child{
                    border-radius: 4px 4px 0 0;
                }
                &:last-child{
                    border-radius: 0 0 4px 4px;
                }
                &:not(:first-child){
                    border-top: 1px solid rgba(203,208,211,1);
                }
                &:hover {
                    background:rgba(246,247,249,1);
                }
                &.active {
                    color: #fff;
                    background:@greenlight;
                }                
                span:hover {
                    cursor: pointer;
                }
            }
            >li>span,>li>a{
                display: block;
            }
        }
    }
}

/* Styles for DropdownList component--------------------------------------------------------------------end*/

/* Styles for ToggleList component--------------------------------------------------------------------start*/
.my-dropdown-list.toggle-list{
    position: relative;
    display: inline-block;
    background: transparent; //当前已选中的选项
    width: auto;
    cursor: pointer;
    .item-selected {
        border: none;
        background-color: transparent;
        font-size: 16px;
        font-family: MoskMedium500;
        color: #f6f6f6;
        line-height: 20px;
        padding: 0;
        text-align: center;
        >a>.fas{
            margin-left: 4px;
        }        
        a{
            color: #f6f6f6;
        }
    }
    //下拉列表的选项框 
    .list-block {
        position: absolute;
        width: 250px;
        color: #DAE1E9;
        z-index: 18;
        top: 53px;
        right: -40px;
        background: #2B2F37;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.80);
        border-radius: 4px;
        padding: 16px 24px;
        border: none;
        ul {
            margin-bottom: 6px;
            li {
                border-top: none;
                cursor: pointer;
                font-size: 14px;
                color: #f6f6f6;
                line-height: 20px;
                &.active {
                    background: rgba(39, 65, 8, 1);
                    border-top: 1px solid rgba(161, 252, 58, 1);
                    border-bottom: 1px solid rgba(161, 252, 58, 1);
                }
                &:hover {
                    background: rgba(40, 44, 53, 1);
                }
                span:hover {
                    cursor: pointer;
                }                
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom: 8px solid #2B2F37;
            top: -16px;
            right: 56px;
        }
    }
}
/* Styles for ToggleList component--------------------------------------------------------------------end*/


//清除浮动
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

//表格公共样式<table>标签加上此类名　
.customTable {
    font-size: 12px;
    width: 100%;
    text-align: left;
    color: #FEFEFE;
    margin-bottom: 48px;
    table-layout: fixed;
    thead {
        background-color: transparent;
        color: #A1A6AD;
    }
    thead tr,
    tbody tr {
        height: 60px;
        padding: 0 10px;
    }
    thead tr th,
    tbody tr td {
        padding: 20px 20px;
        word-break: break-all;
        word-wrap: break-word;
        a {
            color: #A1FC3A;
        }
    }
    tbody tr:nth-child(odd) {
        background-color: #292A32;
    }
    tbody tr:nth-child(even) {
        background-color: #25262E;
    }
}

.cutomUglily {
    >.cutomUglily-row {
        height: 24px;
        line-height: 24px;
        background: #292A32;
        border: 1px solid #444851;
        .cutomUglily-title {
            padding-left: 10px;
            height: 100%;
            width: 20%;
            float: left;
            color: #A1A6AD;
            background-color: #292A32;
            border-right: 1px solid#444851
        }
        .cutomUglily-content {
            padding-left: 10px;
            float: left;
            width: 80%;
            height: 100%;
            color: #FEFEFE;
            background-color: #25262E;
        }
    }
    .cutomUglily-row+.cutomUglily-row {
        border-top: none;
    }
}