.latest-list{
    display: inline-block;
    .list-head{
        img{
            width:100px;
            height: 100px;
        }
        p{

        }
        a{
            
        }
    }
    >ul>li{
        .name{
            img{
                width: 50px;
                height: 50px;
            }
        }
        
        .info{
            display: inline-block;
            .timestamp{
                
            }
            .other{
                >span{
                    .key{
                        
                    }
                    .value{

                    }
                }
                >span+span{
                    margin-left: 10px;
                }
            }
        }
    }
}